/* General CSS */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
}

body, html {
  height: 100%;
}

.bg-primary {
  background-color: #474e5d !important;
}

.bg-secondary {
  background-color: white !important;
}

.bg-secondary:not(.navbar) {
  border: 1px solid #333;
}

/* Parallax Effect */
.bg-img1, .bg-imgA, .bg-imgB {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bg-img1 {
  background-image: url("../images/bg-img1.jpg");
  min-height: 100%;
}

.bg-imgA {
  background-image: url("../images/bg-imgA.jpg");
  min-height: 60%;
}


.bg-imgB {
  background-image: url("../images/bg-imgB.jpg");
  min-height: 60%;
}

/* Parallax Caption*/
.parallax-caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}

.parallax-caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

/* Navbar-Section */
.navbar-brand {
  color: #333 !important;
}

.nav-link {
  color: #333 !important;
}

/* About Me-Section */
section.masthead {
padding-top: 30px;
padding-bottom: 30px;
}

h2 {
  padding: 20px 40px 20px;
  font-size: 20px;
  text-align: right;
}

.container-skills {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 20px;
    color: white;
}

p.skill-name {
  text-align: left;
  font-weight: bold;
  margin-top: 15px;
}

.html {width: 80%; background-color: #9C469A;}
.css {width: 70%; background-color: #9C469A;}
.js {width: 40%; background-color: #9C469A;}
.wp {width: 60%; background-color: #9C469A;}
.git {width: 50%; background-color: #9C469A;}


/* CV-Section*/

/* General */
#cv {
  color: #333 !important;
  margin-top: 30px;
  margin-bottom: 30px;
}

.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.timeline h3, .timeline h2 {
  line-height: inherit;
}

/* Item */
.timeline-item {
  padding-left: 40px;
  position: relative;
}

.timeline-item:last-child {
  padding-bottom: 10px;
}

/* Date */
.timeline-date {
  font-size: 12px;
  font-weight: 700px;
  letter-spacing: 3px;
  margin: 0px 0px .5em;
  text-transform: uppercase;
  white-space: nowrap;
}

/* Marker */
.timeline-marker {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 15px;
  border-bottom: 3px solid #9C469A
}


.timeline-marker::before {
  background: #9C469A;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0px;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker::after {
  content: "";
  width: 3px;
  background: #9C469A;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0px;
  left: 6px;
}

.timeline-item:not(.break):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #9C469A;
}


/* Content */
.timeline-content {
  padding-bottom: 40px;
}

.timeline-content p:last-child {
  margin-bottom: 10px;
}


/* Centering */
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-date,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0px;
    padding: 0px;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-date,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-date {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-date {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }

}

/* Portfolio-Section */

#portfolio {
  padding: 0px 60px 40px;
}

.preview {
  height: 30%;
  width: 30%;
}
